/* Your work here */

.employeeList {
  /* margin-left: -120px; */
  margin-top: 80px;
}

.employeeItem {
  font-size: 16px;
  margin-bottom: 40px;

  padding: 12px 20px;

  width: 60vw;

  background-color: #fafafa;
  border-radius: 20px;
}

.sideNav {
  width: 120px;
  display: flex;
  flex-direction: column;

  padding: 80px 12px;
  margin-right: 20px;
}

form {
  width: 120px;
  display: flex;
  flex-direction: column;

  padding: 80px 12px;
}

.sideNav button {
  width: 60px;
  margin: 20px 12px;
}

.hidden {
  visibility: hidden;
}

body {
  display: flex;
  flex-direction: row;
}
